.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.projectSection{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}