.registerForm{
    
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        width: 80%;
        gap: 20px;
        border-radius: 10px;
        margin: 50px;
        padding: 40px;
        background-color:rgba(255, 255, 255, 0.831) ;

}
.errorMessage{
       color: rgb(162, 16, 16)
}
